/*
    Variables de CSS
*/
$colorBlanco: #ffffff;
$colorFondoNav: #969999;
$colorBtnNav: #000090;
$colorFondoForm: rgb(243, 61, 61);
$colorImputForm: wheat;
$colorBordeBtnForm: black;
$vista: celular;